.outline {
  border: 0.1rem solid var(--color-primary);
  color: var(--color-primary);
}

.fill {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.round {
  border-radius: 100%;
  padding-inline: 1.3rem;
  padding-block: 1.3rem;
}
.regular {
  font-size: 1.8rem;
  padding-inline: 2.2rem;
  padding-block: 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
}
