.button {
  display: grid;

  padding: 0.5rem;

  border: none;
  border-radius: var(--border-radius);

  min-inline-size: 6rem;
  font-size: 1.375rem;

  line-height: 1;

  text-transform: uppercase;

  cursor: pointer;
  align-content: center;

  transition: var(--animation-duration-fast) ease-in-out;
  transition-property: background-color, box-shadow;

  &.solid {
    background-color: var(--color-primary);
    color: var(--color-text-button);

    &:hover,
    &:focus {
      background-color: var(--color-primary-hover);
      box-shadow: var(--box-shadow-subttle);
    }
  }

  &.outline {
    background-color: var(--color-surface-elevated);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);

    &:hover,
    &:focus {
      background-color: var(--color-primary-hover);
      color: var(--color-text-button);
      box-shadow: var(--box-shadow-subttle);
    }
  }
}
