.container {
  padding-block-start: 3rem;
  max-inline-size: 50rem;
  margin-inline: auto;

  > ul {
    display: grid;
    gap: 2rem;

    > li {
      background-color: var(--color-surface-elevated);
      box-shadow: var(--box-shadow);

      display: grid;
      gap: 1rem;

      padding: 1rem;

      border-radius: 0.5rem;
    }
  }
}
