:root {
  --color-surface: hsl(0, 0%, 95%);
  --color-surface-elevated: hsl(0, 0%, 99%);

  --color-text: hsl(0, 0%, 15%);
  --color-text-button: hsl(0, 0%, 97%);

  --color-primary: hsl(243, 100%, 69%);
  --color-primary-hover: hsl(243, 67%, 59%);
  --color-primary-border: hsl(243, 100%, 69%, 50%);
  --color-primary-outline: hsl(243, 100%, 69%, 40%);
  --color-primary-fade: hsl(243, 100%, 95%);

  --color-danger: hsl(0, 100%, 50%);
  --color-danger-hover: hsl(0, 100%, 45%);
  --color-danger-fade: hsl(0, 100%, 95%);

  --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

  &:not([data-theme]) {
    color-scheme: light;

    @media (prefers-color-scheme: dark) {
      color-scheme: dark;

      --color-surface: hsl(0, 0%, 10%);
      --color-surface-elevated: hsl(0, 0%, 16%);

      --color-text: hsl(0, 0%, 97%);
    }
  }

  &[data-theme="light"] {
    color-scheme: light;
  }

  &[data-theme="dark"] {
    color-scheme: light;

    --color-surface: hsl(0, 0%, 10%);
    --color-surface-elevated: hsl(0, 0%, 16%);

    --color-text: hsl(0, 0%, 97%);
  }
}
