:root {
  --color-gray-97: hsl(0deg 0% 97%);
  --color-gray-90: hsl(0deg 0% 90%);
  --color-gray-80: hsl(0deg 0% 80%);
  --color-gray-70: hsl(0deg 0% 70%);
  --color-gray-40: hsl(0deg 0% 40%);
  --color-gray-30: hsl(0deg 0% 30%);
  --color-gray-20: hsl(0deg 0% 20%);
  --color-gray-15: hsl(0deg 0% 15%);
  --color-gray-10: hsl(0deg 0% 10%);

  --color-primary: hsl(243, 100%, 69%);
  --color-primary-hover: hsl(243, 67%, 59%);

  --color-danger: hsl(0, 100%, 50%);
  --color-danger-hover: hsl(0, 100%, 45%);

  --color-body-background: var(--color-gray-97);
  --color-body-foreground: var(--color-gray-15);

  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    --color-body-background: var(--color-gray-15);
    --color-body-foreground: var(--color-gray-97);

    color-scheme: dark light;
  }
}
