.toolbar {
  display: grid;
  grid-template-columns: 1fr;

  gap: 1.6rem;
  line-height: 1;

  .buttons {
    display: flex;
    gap: 1.6rem;

    .options {
      flex: 1 1 auto;
    }
  }
}

@media (min-width: 600px) {
  .toolbar {
    grid-template-columns: 1fr auto;
  }
}
