.toolbar {
  display: grid;
  grid-template-columns: 1fr;

  gap: 1.6rem;
  line-height: 1;

  .search {
    display: flex;
    justify-content: space-between;

    color: hsl(243, 41%, 83%);

    padding-block: 0.8rem;
    padding-inline: 1.6rem;

    border: 0.1rem solid var(--color-primary);
    border-radius: 0.5rem;
  }

  .buttons {
    display: flex;
    gap: 1.6rem;

    .options {
      flex: 1 1 auto;
    }
  }
}

@media (min-width: 600px) {
  .toolbar {
    grid-template-columns: 1fr auto;
  }
}
