.container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    padding-inline: 3rem;
    padding-block: 1.8rem;
    display: grid;
    gap: 2.5rem;
    width: 30%;
    border-radius: 1.6rem;
    background-color: var(--white);

    input {
      border-radius: 0.5rem;
      border: 0.1rem solid var(--purple);
      padding-inline: 1.6rem;
      padding-block: 0.8rem;
      outline: none;
      font-size: 1.6rem;
    }

    .button-container {
      padding-block-start: 12.8rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
