.container {
  margin: auto;
  border-radius: 1.6rem;
  border: none;

  inline-size: calc(100% - 2rem);
  max-inline-size: 50rem;

  max-block-size: 30rem;

  h2 {
    text-align: center;
  }

  .modal {
    padding-inline: 3rem;
    padding-block: 1.8rem;
    display: grid;
    gap: 2.5rem;
    min-width: 100%;

    .actions {
      padding-block-start: 12.8rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
