.item {
  display: flex;
  justify-content: space-between;

  &:hover .actions {
    opacity: 100%;
  }

  label {
    display: flex;
    gap: 1.7rem;

    input[type="checkbox"] {
      border-radius: 0.2rem;
      width: 2.6rem;
      border: 1px solid var(--color-primary);

      &:checked {
        + .name {
          opacity: 0.5;
          text-decoration: line-through;
        }
      }
    }

    .name {
      font-size: 2rem;
      font-weight: 500;
    }
  }

  input {
    border-radius: 0.5rem;
    border: 0.1rem solid var(--color-primary);
    padding-inline: 1.6rem;
    padding-block: 0.8rem;
    outline: none;
    font-size: 1.6rem;
  }

  .edit-container {
    display: flex;
    gap: 1rem;
  }

  .actions {
    display: flex;
    gap: 1rem;
    opacity: 0;

    .edit {
      --button-color-hover: var(--color-primary-hover);
    }

    .remove {
      --button-color-hover: var(--color-danger-hover);
    }
  }
}
