:root {
  --full-width: 75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Kanit, sans-serif;
  font-size: 62.5%;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

body {
  font-size: 1.5rem;

  margin-inline: auto;

  background-color: var(--color-surface);
  color: var(--color-text);

  > * {
    padding-inline: calc(max((100% - var(--full-width)), 2rem) / 2);
  }

  text-align: center;
}
